{% extends 'sbasefile.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ontact Us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

<style>

    .textt4 a{
        direction : none ;
        margin-right: 10px;
        color:rgb(0, 15, 10);
        direction: none;
    }
    a{
        direction:none;
    }
</style>

</head>



<body  class="image43">

    {% block content %}
    
    <div class ="image212" >
        <h1 class="text-center text-dark"> Contact Us </h1>

<div class="row">
    <div class="col-md-4 m-5 textt4 " >
    <Form>
         <input type="Email Id " placeholder="Enter Your Email Id" class="input23" > <br><br>
        <input type="text" placeholder="Enter Your Message"class="input23"  > <br><br>

         <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Clear</button>
        <button type="button" class="btn btn-success">Submit</button>
    </Form>
<div>
<hr>

    <h5 class="text-dark"><img src="https://th.bing.com/th/id/OIP.6qaxilkCPxAJtOO8K-YGrwHaHZ?rs=1&pid=ImgDetMain" width="40" height="40" > : 7889889789 </h5>

    <h5 class="text-dark"><img src=" https://th.bing.com/th/id/OIP.ENfLCSWRSSESMzBw8igiKwHaHR?rs=1&pid=ImgDetMain " width="40" height="40"> : Chitti@AisCompany.com </h5>

    <h5><img src="https://joolstv.com/cdn/shop/files/JOOLS_TV_YouTube_34001f8b-e709-4d18-9e80-b6ec27eedc97.png?v=1659050088&width=1500 " width="40" height="40">
        <a href="https://youtube.com/@Keshava3697?si=8P4AhO6K6xTFI3bu " class="text-dark" > :  Our Youtube Channel </a></h5>

        <h5><img src=" https://th.bing.com/th/id/OIP.k-wOa-ZBsvCqD-n-Dw6ohAHaHr?rs=1&pid=ImgDetMain "  width="40" height="40">
            <a href="https://youtube.com/@Keshava3697?si=8P4AhO6K6xTFI3bu "  class="text-dark direction-none" > :  Follow On Facebook </a></h5>
    
</div> 
    </div>
    <div class="col-md-4 m-5 imagee" >
        <div class="col-sm-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d274.77203049133266!2d77.1482345331891!3d14.974018391054077!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bb7211e17b6c331%3A0xd0a6a4ff3d2dfc91!2sPalthur%2C%20Andhra%20Pradesh%20515870!5e1!3m2!1sen!2sin!4v1682530216592!5m2!1sen!2sin" 
            width="400" height="350" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" loading="lazy" referrerpolicy="no-referrer-when-downgrade" aligne="right"></iframe>
            </div>


</div>


</div>
</div>

</body>
{% endblock %}
</html>